.home-container {
  padding: 1rem;
  text-align: center;
  margin-top: 60px;
  color: #142954;
}

.home-title {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 50px;
  text-align: left;
}

.home-logo {
  margin-left: 150px;
  width: 40.5584px;
  height: 39.6734px;
  background-color: #9747ff;
  transform: rotate(45deg);
}

.tasteucla-logo {
  width: 250px;
  margin-top: 15px;
  margin-left: 50px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 6rem;
  padding: 30px 100px;
}

.review-card {
  background-color: #aee7ff;
  border: 6px solid #142954;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  min-height: 300px;
}

.review-card h3 {
  margin: 0.5rem 0;
  font-size: 28px;
  text-align: left;
}

.review-card p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.review-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.review-rating {
  display: flex;
  justify-content: space-between;
}

.review-description {
  text-align: left;
  margin-top: 30px;
}

/* .review-button {
  background-color: #0044cc;
  color: #5988e7;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
} */
