.home-container {
    padding: 1rem;
    text-align: center;
    margin-top: 60px;
    color: #142954;
  }
  
.home-title {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 44px;
    text-align: left;
}
  
.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    gap: 1rem;
    padding: 5rem;
}
  
.review-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
}
  
.review-card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-align: left;
}
  
.review-card p {
    font-size: 1rem;
    color: #666;
}

.review-card .review-rating {
    text-align: right;
}
  
.review-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.review-button {
    background-color: #0044cc;
    color: #5988e7;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}


