p {
  font-size: 24px;
  color: white;
}

a {
  text-decoration: none;
}

/* input {
  border: none;
  box-shadow: 3px 3px 3px black;
} */

.navbar {
  background-color: rgb(5, 29, 49);
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 7;
}

.navbar > * {
  width: 100%;
  display: flex;
}

.navigation-left,
.navigation-middle,
.navigation-right > * {
  /* background-color: brown; */
  margin-top: auto;
  margin-bottom: auto;
}

.navigation-middle {
  justify-content: center;
  gap: 140px;
}

.navigation-left {
  padding-left: 40px;
  gap: 40px;
  height: 100%;
  margin-top: 9.5px;
}

/* .navigation-left > * {
  margin-top: auto;
  margin-bottom: auto;
} */

.navigation-right {
  justify-content: flex-end;
  padding-right: 50px;
  gap: 40px;
}

.navigation-middle:hover > *,
.sign-btns > * {
  cursor: pointer;
}

.input-field {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  z-index: 9;
  position: relative;
}

.search-bar {
  display: flex;
}

.search-icon {
  position: relative;
  z-index: 9;
  color: rgb(134, 134, 134);
  font-size: 32px;
  left: -45px;
  top: 9px;
}

.search-icon:hover {
  cursor: pointer;
}

.home-btn {
  font-size: 40px;
  position: relative;
  top: 5px;
  color: white;
}

.profile-icon {
  color: white;
  font-size: 40px;
  padding: 0;
  position: relative;
  right: 0px;
}

.profile-icon:hover {
  cursor: pointer;
}

.profile-dropdown {
  position: fixed;
  background-color: rgb(171, 171, 219);
  left: 85%;
  top: 70px;
  width: 15%;
}

.profile-dropdown > * > p,
.sign-out-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: 1px solid rgb(89, 93, 115);
  color: white;
}

.profile-dropdown:hover > p {
  cursor: pointer;
}

.search-dropdown {
  box-sizing: border-box;
  z-index: 8;
  position: fixed;
  background-color: rgb(72, 135, 237);
  top: 50px;
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: auto;
}

.search-dropdown > p {
  font-size: 22px;
}

.search-dropdown search-result-item {
  font-size: 18px;
  color: blue;
}

.sign-btns {
  display: flex;
  gap: 100px;
  margin-right: 35px;
}
