.profile-page {
  margin-top: 100px;
  text-align: center;
}

.img-container-profile {
  text-align: center;
  /* background-color: rgb(221, 235, 255); */
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 30px 0px;
  border-radius: 10px; */
}

.img-container-profile > p {
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.default-profile-img {
  font-size: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.profile-input {
  border: none;
}

.custom-file-upload > [type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 12px;
}

/* .uploaded-img {
  max-width: 200px;
  max-height: 200px;
} */

.crop-img {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.crop-img > img {
  width: 100%;
  height: 100%;
}

.jiwejfijwe {
  /* display: inline-block;
  overflow: hidden;
  position: relative;
  max-width: 400px;
  max-height: 400px; */
  /* display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto; */
  /* width: 400px;
  height: 400px; */
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  margin-top: 20px;
  margin-bottom: 30px;
}

.user-info > * > h1 {
  font-size: 40px;
}

.username-container,
.password-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.password-container {
  margin-top: 12px;
}

.pencil,
.pencil-two {
  font-size: 18px;
  position: relative;
  top: 14px;
  left: 20px;
  cursor: pointer;
}

.pencil-two {
  top: 10px;
}

.bio-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.bio-container > label {
  margin-right: auto;
  margin-left: 20px;
  font-size: 24px;
}

.bio-text-field {
  font-size: 18px;
  margin-top: 4px;
  padding: 10px;
  min-height: 150px;
}

.delete-btn {
  margin-top: 70px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.delete-btn:hover {
  background-color: rgb(243, 242, 242);
}
