.profile-page {
  margin-top: 100px;
  text-align: center;
}

.img-container-profile {
  text-align: center;
  /* background-color: rgb(221, 235, 255); */
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  /* padding: 30px 0px;
  border-radius: 10px; */
}

.img-container-profile > p {
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.default-profile-img {
  font-size: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.profile-input {
  border: none;
}

.custom-file-upload > [type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 12px;
}

/* .uploaded-img {
  max-width: 200px;
  max-height: 200px;
} */

.crop-img {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 20px;
}

.crop-img > img {
  width: 100%;
  height: 100%;
}

.jiwejfijwe {
  /* display: inline-block;
  overflow: hidden;
  position: relative;
  max-width: 400px;
  max-height: 400px; */
  /* display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto; */
  /* width: 400px;
  height: 400px; */
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-info > h1 {
  font-size: 40px;
}

.bio-container {
  display: flex;
  flex-direction: column;
  /* text-align: center;
  justify-content: center; */
  width: 32vw;
  margin-left: auto;
  margin-right: auto;
}

.bio-container > label {
  font-size: 22px;
  margin-right: auto;
  margin-left: 20px;
  margin-bottom: 4px;
}

.bio {
  min-height: 150px;
  padding: 10px;
}

.lower-btns {
  display: flex;
  flex-direction: column;
}

.lower-btns > * {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.save-profile-btn {
  width: 300px;
  height: 50px;
  font-size: 24px;
  border: 1px solid rgb(107, 117, 255);
  margin-top: 50px;
  padding: 5px 15px;
}

.delete-account-btn {
  width: 200px;
  font-size: 18px;
  border: 1px solid rgb(255, 119, 119);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px 15px;
}

.delete-account-btn:hover {
  background-color: rgb(254, 228, 228);
}

/* ONLY FOR USERPROFILE PAGE */

.bio-container > p {
  background-color: white;
  border: 1px solid rgb(107, 117, 255);
  color: black;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}
