.root {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  flex-direction: column;
  outline: solid 1px #aabcd2;
  outline-offset: -1px;
  overflow-y: hidden;
  background-color: #e2f1f5;
  height: calc(100vh-70px) !important;
}

.back_button {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}

.restaurant_name {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: bold;
  font-family: "Gill Sans";
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  margin-left: 50px;
  margin-right: auto;
  font-size: 50px;
  top: 20px;
}

.restaurant_location {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  margin-left: 50px;
  margin-right: auto;
  font-size: 40px;
  top: 5px;
}

.logo {
  position: relative;
  outline: solid #1e1e1e;
  width: max-content;
  height: max-content;
  margin-left: auto;
  margin-right: 90px;
  margin-top: 100px;
}

.row {
  display: flex;
  margin-bottom: 80px;
}

.container {
  position: relative;
}

.rating {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  margin-left: 50px;
  margin-right: auto;
  font-size: 30px;
}

.description {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: 500;
  font-family: "Optima";
  letter-spacing: -0.023em;
  display: flex;
  text-align: left;
  position: relative;
  margin-left: 50px;
  margin-right: auto;
  top: 20px;
  font-size: 20px;
  width: 600px;
}

.write_review_button {
  background-color: rgb(7 89 133);
  color: white;
  /* background-color: rgb(180, 207, 250); */
  margin-left: 100px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 100px;
  font-size: 24px;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 150%;
}

.reviews_container {
  display: flex;
}

.reviews_header {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  margin-left: 30px;
  margin-right: auto;
  font-size: 40px;
  border: 0ch;
}

.reviews_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1375px));
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 0ch;
}

.reviews_grid_item {
  background-color: #ffff;
  border: 3px solid #ded0f5;
  padding: 30px;
  font-size: 30px;
  margin-bottom: 50px;
  border: 0ch;
}

.review_content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.profile_pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  top: 120px;
  margin-bottom: 10px;
}

.username {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: bold;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
  width: min-content;
}

.user_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.review_image {
  position: relative;
  outline: solid #1e1e1e;
  width: max-content;
  height: max-content;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.review_rating {
  color: "black";
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
}

.review_title {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: bold;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
}

.review_description {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: 500;
  font-family: "Georgia";
  letter-spacing: -0.023em;
  text-align: left;
  position: relative;
  font-size: 20px;
  inline-size: 1050px;
  overflow-wrap: break-word;
  margin-bottom: 20px;
  width: 1050px;
}


.created_time, .updated_time{
  color: rgb(172, 172, 172);
  display: flex;
  position: relative;
  font-size: 15px;
  justify-content: right;
}

.reviews-header{
  color: #1e1e1e;
  display: flex;
  position: relative;
  font-size: 40px;
  margin-top: 30px;
}

.comments{
  position: relative;
}

.comments_header {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  margin-left: 20px;
  margin-right: auto;
  font-size: 20px;
}

.comments_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1375px));
  margin-left: auto;
  margin-right: auto;
}

.comments_grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #ded0f5;
  padding: 15px;
  font-size: 30px;
  margin-bottom: 20px;
}

.comments_content {
  display: flex;
  flex-direction: row;
}

.comments_profile_pic {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  display: inline-block;
  top: 70px;
}

.comments_username {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: relative;
  font-size: 25px;
  margin-bottom: 5px;
  width: min-content;
}

.comments_user_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.comments_description {
  color: #1e1e1e;
  line-height: 150%;
  font-weight: 500;
  font-family: "Georgia";
  letter-spacing: -0.023em;
  text-align: left;
  position: relative;
  font-size: 20px;
  inline-size: 1050px;
  overflow-wrap: break-word;
  width: 1075px;
  margin-bottom: 20px;
  top: 20px;
}

.created_time_comment, .updated_time_comment{
  color: rgb(172, 172, 172);
  display: flex;
  position: relative;
  font-size: 15px;
  justify-content: right;
  margin-top: 10px;
}