.root {
    position: absolute;
    top:70px;
    left:0;
    right:0;
    flex-direction: column;
    outline: solid 1px #aabcd2;
    outline-offset: -1px;
    overflow-y: scroll;
    background-color: #E2F1F5;
    height: calc(100vh - 70px);
}

.searchResults_title{
    color: #1e1e1e;
    font-size: 30px;
    font-weight: bolder;
    margin: 30px;
}

.results_container{
    overflow-x: hidden;
}

.not_found_message{
    color: #ff0000;
    font-weight: normal;
    margin: 20px;
}

.section_title{
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 20px;
}

.rests_container{
    background-color: #051d3113;
    outline: #6776ff;
    outline-style: solid;
    outline-width: 1px;
    overflow-x: hidden;
    margin: 10px;
    border-radius: 12px;
}

.users_container{
    background-color: #051d3113;
    outline: #6776ff;
    outline-style: solid;
    outline-width: 1px;
    overflow-x: hidden;
    margin: 10px;
    border-radius: 12px;
}

.reviews_container{
    background-color: #051d3113;
    outline: #6776ff;
    outline-style: solid;
    outline-width: 1px;
    overflow-x: hidden;
    margin: 10px;
    border-radius: 12px;
}

.section_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 400px));
    margin: 10px;
}

.section_grid_item{
    display: flex;
    flex-basis: content;
    color: #ffffff;
    background-color: #051d3120;
    border: 1px solid #77cdff;
    border-radius: 12px;
    padding: 5px;
    font-size: 14px;
    margin: 5px;
}

.section_grid_item_col{
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-template-columns: repeat(2, minmax(0px,600px));
}

.grid_item_text{
    color: #0477b9;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 15px;
}

.grid_item_title{
    display: flex;
    color: #051d31;
    font-size: 24px;
    margin: 10px;
    margin-left: 15px;
}

.grid_item_img{
    display: flex;
    min-width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 12px;
}