.root {
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin-top: 70px;
    flex-direction: column;
    outline: solid 1px #aabcd2;
    outline-offset: -1px;
    overflow: hidden;
    background-color: #E2F1F5;
    height: calc(100vh-60px);
}

.searchResults_title{
    color: #1e1e1e;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: -0.023em;
    display: flex;
    text-align: center;
    position: relative;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 30px;
    top: 10px;
    font-size: 30px;
}

.results_container{
    overflow-x: hidden;
}

.searchResults_section_title{
    font-size: large;
    text-align: left;
}

.restaurants_container{
    overflow-x: hidden;
}

.restaurants_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 200px));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.restaurants_grid_item{
    background-color: #FFFF;
    border: 3px solid #DED0F5;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 0px;
}

.restaurant_title{
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
}