.root {
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  outline: solid 1px #aabcd2;
  outline-offset: -1px;
  overflow: hidden;
}

.tasteUCLA {
  color: #1e1e1e;
  font-size: 41.5102px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  display: flex;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  font-size: 30px;
  width: 218.8717px;
  height: min-content;
  flex-direction: column;
}

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  width: 40.5584px;
  height: 39.6734px;
  background-color: #9747ff;
  transform: rotate(45deg);
}

.tasteucla_logo {
  width: 270px;
  margin-top: 70px;
}

.error_message {
  color: #dd5656;
  font-size: 16.9814px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 33%;
  flex-direction: column;
}

.username {
  color: #1e1e1e;
  font-size: 16.9814px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 36%;
  width: 89.5384px;
  height: 7.5%;
  flex-direction: column;
}

.username_textbox {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  width: 255.4289px;
  height: 7.5%;
  outline: solid 1px #9747ff;
  outline-offset: 0px;
}

.password {
  color: #1e1e1e;
  font-size: 16.9814px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  text-align: center;
  position: absolute;
  top: 51%;
  margin-left: auto;
  margin-right: auto;
  width: 89.5384px;
  height: min-content;
  flex-direction: column;
}

.password_textbox {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 55%;
  width: 255.4289px;
  height: 7.5%;
  outline: solid 1px #9747ff;
  outline-offset: 0px;
}

.confirm_password {
  color: #1e1e1e;
  font-size: 16.9814px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  text-align: center;
  position: absolute;
  top: 66%;
  margin-left: auto;
  margin-right: auto;
}

.confirm_password_textbox {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 70%;
  width: 255.4289px;
  height: 7.5%;
  outline: solid 1px #9747ff;
  outline-offset: 0px;
}

.createAccount {
  color: #1e1e1e;
  font-size: 16.9814px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 82.5%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
}

.createAccountButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 82%;
  width: min-content;
  height: 5%;
  outline: solid 1px #9747ff;
  outline-offset: 0px;
}

.back {
  color: #1e1e1e;
  font-size: 16.9814px;
  line-height: 150%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.023em;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 90.5%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
}

.backButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 90%;
  width: min-content;
  height: 5%;
  outline: solid 1px #9747ff;
  outline-offset: 0px;
}
